@page "/profile"
<div class="container mt-5">
    @if (Model != null)
    {
        <h3>Author Profile</h3>
        <div class="row mt-3">
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <img src="https://via.placeholder.com/480" alt="Author Image" class="img-fluid">
            </div>
        </div>
    }

</div>


@code {
    [SupplyParameterFromQuery(Name = "uid")]
    [Parameter]
    public string UserId { get; set; }

    Author? Model = new();
    [CascadingParameter]
    UserProxy? CurrentUser { get; set; }
    protected override async Task OnInitializedAsync()
    {

        if (!string.IsNullOrEmpty(UserId))
        {
            var user = await userService.GetByIdAsync(UserId);
            if (user != null)
            {
                Model = await authorService.Table.FirstOrDefaultAsync(a => a.UserId==Guid.Parse(user.Id));
                StateHasChanged();
            }
        }
        else
        {
            //Getting Current User
            if (CurrentUser != null)
            {
                Model = await authorService.Table.FirstOrDefaultAsync(a => a.UserId==Guid.Parse(CurrentUser.Id));

                StateHasChanged();
            }
            else
            {
                Navigation.NavigateTo("login?next=profile", true);
            }
        }

    }
}
