@page "/research/pay"
@using System.Globalization

<div class="container mt-5">
    <h3>Research Payment</h3>
    @if (ResearchModel != null)
    {
        <Card>
            <CardHeader>
                <a href=@($"research?p={ResearchModel.Id}") class="btn btn-secondary">Back</a>
                You need to pay to access this research.
            </CardHeader>
            <CardBody Class="p-4">
                <table class="table table-striped table-bordered">
                    <tr>
                        <td><b> Research Title</b></td>
                        <td> @ResearchModel.Title</td>
                    </tr>
                    <tr>
                        <td><b>Price</b></td>
                        <td>@ResearchModel.Price.Value.ToString("N2") ZMW</td>
                    </tr>
                </table>
            </CardBody>
            <CardFooter>
                <div class="row">
                    <div class="col-4">
                        <CheckoutButton IconCss="fas fa-credit-card" OnPaymentCancelled="FailedToPay" OnPaymentComplete="ProcessPayment" Model="@Model">Pay Now</CheckoutButton>                     
                    </div>                 
                </div>               
            </CardFooter>
        </Card>
    }
    else
    {
        <center><h6 class="text-primary mt-5">Loading ... </h6></center>
    }
</div>
@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "id")]
    public Guid Id { get; set; }
    Research? ResearchModel;
    PaymentRequest? Model;
    [CascadingParameter]
    Task<AuthenticationState> AuthenticationStateTask { get; set; }
    ClaimsPrincipal? claimsPrincipal;

    protected override async Task OnInitializedAsync()
    {
        preloadService.Show();
        claimsPrincipal = (await AuthenticationStateTask).User;
        if (claimsPrincipal?.Identity?.IsAuthenticated ?? false)
        {
            if (Id != Guid.Empty)
            {
                ResearchModel = await articleService.Table.FirstOrDefaultAsync(x => x.Id == Id);
                if (ResearchModel is null)
                {
                    Navigation.NavigateTo("/", true);
                    return;
                }
                Model = new PaymentRequest
                    {
                        Amount = ResearchModel.Price.Value,
                        Currency = "ZMW",
                        Email = claimsPrincipal.GetEmail(),
                        Phone =claimsPrincipal.GetPhone(),
                        Customer = claimsPrincipal.GetFullName(),
                        CustomerId = claimsPrincipal.GetUserId().ToString(),
                        CustomerMac = claimsPrincipal.GetUserId().ToString(),
                    };
                preloadService.Hide();
            }
            else
            {
                Navigation.NavigateTo("/", true);
            }
        }
        else
        {
            Navigation.NavigateTo($"login?next=research/pay?id={Id}", true);
        }
    }
    async Task ProcessPayment(PaymentResponse response)
    {
        //Validate payment and save to db
        var paymentModel = new Payment
            {
                Amount = Convert.ToDecimal(response.Amount),
                FWReference = response.FWReference,
                TransactionReference = response.TransactionReference,
                Status = response.Status,
                PaymentDate = DateTime.Now,
                TransactionId = response.TransactionId,
                Currency = response.Currency,
                UserId = claimsPrincipal.GetUserId(),
                PaymentMethod = "MobileMoney",
                ResearchId = ResearchModel.Id
            };
        var saved = paymentService.Save(paymentModel);
        if (saved.Succeded)
        {
            toastService.Notify(new ToastMessage
                {
                    Message = "Payment successfully processed.",
                    IconName = IconName.Check2All,
                    Type = ToastType.Success
                });
            await DownloadPaper();
        }
    }
    void FailedToPay(string respose)
    {
        toastService.Notify(new ToastMessage
            {
                Message = respose,
                IconName = IconName.Exclamation,
                Type = ToastType.Danger
            });
    }
    async Task DownloadPaper()
    {
        try
        {
            await javaScriptRuntime.InvokeVoidAsync("downloadFile", new { blob = fileSystemHelper.ReadAsBlob(ResearchModel.Document), fileName = $"link_{ResearchModel.Title.Replace(" ", "_").Substring(0, 10)}.pdf" });
        }
        catch (Exception e)
        {
            toastService.Notify(new ToastMessage(ToastType.Danger, e.Message));
        }
    }
}
