@inherits LayoutComponentBase
<PageTitle>Reasearch Social  Network</PageTitle>
<div class="page">
    <header>
        <NavBar />
    </header>
    <main class="container-fluid px-5 pt-5">
        @Body
    </main>
</div>


