@inherits LayoutComponentBase
<PageTitle>Reasearch Social  Network</PageTitle>

    <div class="page">
        <header>
            <NavBar />
        </header>
        <main class="container-fluid px-5 pt-5">
            @Body
        </main>
    </div>

<Toasts class="p-3" AutoHide Delay="5000" Placement="ToastsPlacement.TopRight" />
