
<nav class="navbar navbar-expand-lg bg-body-tertiary px-5 fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ResearchLink</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" aria-current="page" ActiveClass="active" href="/">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="people">People</NavLink>
                </li>
                <li class="nav-item dropdown">
                    <NavLink class="nav-link dropdown-toggle" href="publications" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Publications
                    </NavLink>
                    <ul class="dropdown-menu">
                        <li><NavLink class="dropdown-item" href="#">Books</NavLink></li>
                        <li><NavLink class="dropdown-item" href="#">Journal Articles</NavLink></li>
                        <li><NavLink class="dropdown-item" href="#">Conference & Talks</NavLink></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><NavLink class="dropdown-item" href="#">Submit a paper</NavLink></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <div class="user-profile me-3">
                    <img src="https://via.placeholder.com/40" alt="User Profile" class="img-fluid">
                    <span class="navbar-text">John Doe</span>
                </div>
            </div>
        </div>
    </div>
</nav>

@code {

}
